<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>voybit</name>
    <displayName><![CDATA[Voybit]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Customers pay on the Voybit page. The store confirms the order when the payment arrives.]]></description>
    <author><![CDATA[Voybit]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>
